<div class="container-center">
    <h1>Resultados</h1>
</div>
<br>
<div class="container">
    <div class="row">
        <div class="col">
            <p>Nombre(s):</p>
            <p>Apellido(s):</p>
            <p> <i class="fas fa-calendar-day"></i> Fecha de nacimiento:</p>
            <p> <i class="fas fa-id-card"></i> Cedula:</p>
            <p>Edad:</p>
        </div>

        <div class="col">
            <div class="row ">
                <div class="col">
                    <p> <i class="fas fa-dollar-sign"></i> Cantidad: </p>
                    <p>Interes: </p>
                    <p> <i class="fas fa-clock"></i> Tiempo: </p>
                    <p> <i class="fas fa-percent"></i> Tasa: </p>
                    <p>Cuotas de pago:</p>
                </div>
            </div>
        </div>

    </div>
</div>

<div class="container">
    <div class="row ">
        <div class="col-sm-12 col-md-12 mt-sm-2 mt-md-3 tabla_amortizable ">
            <table class="table table-bordered ">
                <thead>
                    <tr>
                        <th>Fechas de pago</th>
                        <th>Monto a pagar</th>
                        <th>Cantidad restante</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>

                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>

                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>

                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>

            <div class="container">
                <div class="col">
                    <nav aria-label="Page navigation example ">
                        <ul class="pagination ">
                            <li class="page-item "><a class="page-link " href="# ">Anterior</a></li>
                            <li class="page-item "><a class="page-link " href="# ">1</a></li>
                            <li class="page-item "><a class="page-link " href="# ">2</a></li>
                            <li class="page-item "><a class="page-link " href="# ">3</a></li>
                            <li class="page-item "><a class="page-link " href="# ">Siguiente</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row ">
        <div class="col ">
            <a [routerLink]="[ '/calculadora']" class="btn btn-block btn-danger ">Atrás</a>
        </div>
        <div class="col">
            <a href="# " class="btn btn-block btn-success ">Solicitar prestamo</a>
        </div>
    </div>
</div>